{% extends 'main.html'%} {% load static%} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'styles/about.css' %}" />

  <link rel="stylesheet" href="{% static 'styles/shared.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
</head>
<body>
  <div class="container-fluid p-0 mb-5">
    <img
      src="{% static 'images/about-banner.jpg' %}"
      alt=""
      class="img-fluid"
    />
  </div>
  <div class="container about">
    <div class="row">
      <div class="col-md-8">
        <h3 class="heading">About Us</h3>
        <p style="text-indent: 100px">
          SHREE HAASA is a leading IT consulting and IT Staffing firm, We
          deliver our professional services to companies by providing IT
          Consulting services in several practice areas, and offering IT
          Staffing services on a contract, contract-to-hire, and direct hire
          basis. SHREE HAASA Client-focused approach to forming long-term
          relationships with Clients in conjunction with a high-quality talent
          recruiting process is the foundation of our success and ensures
          Clients are presented with the best IT talent available in the market.
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'images/about-img.jpg' %}"
          class="img-fluid center"
        />
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <img
          src="{% static 'images/p1.jpeg' %}"
          width="350px"
          height="250px"
          class="img-fluid"
        />
      </div>
      <div class="col-md-4 mb-4">
        <img
          src="{% static 'images/p2.jpeg' %}"
          width="350px"
          height="250px"
          class="img-fluid"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'images/p3.jpeg' %}"
          width="350px"
          height="250px"
          class="img-fluid"
        />
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <h3 class="heading">Why choose us</h3>
        <p style="text-indent: 100px">
          SHREE HAASA has grown through recessions because of our talented staff
          no one will take more time to learn your culture and what you need
          than Complete Solutions. SHREE HAASA IT Services company have
          thousands of qualified candidates lined up and ready to go to work. It
          is our passion for search and career placement that really sets us
          apart and creating opportunity to service companies like yours that
          has helped Complete Staffing become one of the top staffing firms. We
          are specialized in the fields for which they recruit, giving you the
          ability to focus on core competencies and saving your valuable time.
        </p>
      </div>
    </div>
  </div>

  <div class="bg pt-4 pb-2">
    <h3 class="heading mb-3">Our Service</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="single_service hvr-curl-top-right">
            <div class="single_service-left">
              <div class="icon">
                <img
                  src="{% static 'images/staffing-icon.png' %}"
                  class="img-icon"
                />
              </div>
            </div>
            <div class="single_service-body">
              <h4 class="single_service-heading">IT / Non-It Staffing</h4>
              <p>
                Our customized staffing plans ensures top-notch workforce are
                acquired a flick view of our IT/Non-IT Staffing process
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="single_service hvr-curl-top-right">
            <div class="single_service-left">
              <div class="icon">
                <img
                  src="{% static 'images/pharma-bgrev.png' %}"
                  class="img-icon"
                />
              </div>
            </div>
            <div class="single_service-body">
              <h4 class="single_service-heading">Pharma Staffing</h4>
              <p>
                Tailor-made healthcare solutions hassle-free administration we
                offer for our Healthcare clients.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="single_service hvr-curl-top-right">
            <div class="single_service-left">
              <div class="icon">
                <img
                  src="{% static 'images/pharma-bgrev.png' %}"
                  class="img-icon"
                />
              </div>
            </div>
            <div class="single_service-body">
              <h4 class="single_service-heading">Digital Marketing</h4>
              <p>
                We partner with customers to create unique, performative and
                compelling experiences to approach weaves together strategy
                technology and elegant design.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="single_service hvr-curl-top-right">
            <div class="single_service-left">
              <div class="icon">
                <img src="{% static 'images/web.png' %}" class="img-fluid" />
              </div>
            </div>
            <div class="single_service-body">
              <h4 class="single_service-heading">Web Development</h4>
              <p>
                Our Web Design and Development services support you to figure
                out the ideal solution for your specific needs
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="single_service hvr-curl-top-right">
            <div class="single_service-left">
              <div class="icon">
                <img src="{% static 'images/mobile.png' %}" class="img-fluid" />
              </div>
            </div>
            <div class="single_service-body">
              <h4 class="single_service-heading">Mobile Development</h4>
              <p>
                We serve our customers with the most creative, trustworthy, and
                secure mobile app solutions
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="single_service hvr-curl-top-right">
            <div class="single_service-left">
              <div class="icon">
                <img
                  src="{% static 'images/architect.png' %}"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="single_service-body">
              <h4 class="single_service-heading">Architectures</h4>
              <p>
                We are here to help you find the best architectures home
                interior design to match your needs and style.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock content %}
