{% extends 'main.html' %} {% load static %} {% block content %}
<html>
  <body>
    <div class="container-fluid p-0 mb-5">
      <img src="{% static 'images/dm-banner.jpg' %}" alt="" class="img-fluid" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img
            src="{% static 'images/dm-img.png' %}"
            class="img-fluid center"
          />
        </div>
        <div class="col-md-6">
          <p>
            Traditional lines across industries are getting blurred in a smart,
            connected, and efficient world. Technology is taking the world by
            storm, and traditional businesses are getting re-engineered
            digitally. Hyper personalization, real-time smart connectivity, data
            explosion, and intelligent systems have become the norm. The need is
            to connect the business structures, processes, and functions and
            provide insights to navigate in the digital era. Legacy systems and
            capabilities need to lead the way for digital competencies. It is no
            more about just keeping the lights on; adoption of a digital
            ecosystem is a basic ask. It calls for speed and agility to change
            the wheels while in motion. We assess the current maturity of
            digital adoption and help solve business challenges through digital
            transformation by reevaluating the company’s core and non-core
            technical competencies. We start by helping organizations identify
            the core that needs to transform, how to strengthen the building
            blocks, and adopt more competitive, personalized, responsive, and
            cost-effective digital models. We support organizations that do not
            have the necessary skills in house, to augment both technical
            capability and talent gaps. In a nutshell, we enable you to
            transform your business by providing the best in class digital
            solutions and innovation-led transformation.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content%}
