{% extends 'main.html' %} {% load static %} {% block content %}
<html>
  <body>
    <div class="container-fluid p-0 mb-5">
      <img
        src="{% static 'images/mobile-banner.png' %}"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>
            SHREE HAASA brings you world-class mobile app development services,
            transforming your idea and needs into a completely secure and
            ingenious mobile application. Our experts provide end-to-end App
            development support for iOS, Android, or native mobile applications.
            SHREE HAASA turns your dream into mere reality by offering
            cutting-edge mobile application customized solutions at your budget.
            We serve our customers with the most creative, trustworthy, and
            secure mobile app solutions.
          </p>

          <div class="row">
            <h5 style="color: #000">Mobile Development Services</h5>

            <div class="col-md-6">
              <ul>
                <li>Android Mobile App Development</li>
                <li>iOS Mobile App Development</li>
                <li>UI/UX App designing</li>
                <li>Native and Cross-platform App Development</li>
                <li>Wearable Mobile App Development</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>Mobility Assistance and Solutions</li>
                <li>Advanced Web App Development</li>
                <li>Maintenance + Support</li>
                <li>Ionic App Development</li>
                <li>Flutter and Swift App Development</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <img
            src="{% static 'images/mobile-img.png' %}"
            class="img-fluid center"
          />
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content%}
