{%extends 'main.html' %} {% load static %} {% block content%}
<html lang="en">
  <head> </head>
  <body>
    <div class="container-fluid p-0">
      <img
        src="{% static 'images/pharmastaffing-banner.jpg' %}"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8">
          <p>
            With our breadth of experience in the pharmaceutical and life
            sciences space, we give you access to the best talent for your niche
            requirements for health care industry spreads their wings and the
            demand for skilled talent grows. Being one of the leading healthcare
            recruiters today SHREE HAASA understands the need to engage the
            right talent. We help you identify the right professionals that
            deliver on expectations. With our pharma recruitment services, you
            can be sure of achieving business excellence every day. As an Pharma
            recruitment staffing company its our passing for nurturing human
            potential to give you access to a wide pool of skilled healthcare
            professionals in temporary, contract or permanent hiring, your
            medical staffing needs find an able strategic partner in SHREE
            HAASA.
          </p>
        </div>
        <div class="col-md-4">
          <img
            src="{% static 'images/pharma-img.jpeg' %}"
            class="img-fluid center"
          />
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content%}
