{% extends 'main.html'%} {% load static %} {% block content%}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'styles/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/shared.css' %}" />
  </head>

  <body>
    <div class="container-fluid p-0">
      <img
        src="{% static 'images/staffing---.jpg' %}"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <p>
            The process of finding the right resource with right set of
            qualifications has always been a challenge for most the
            organisations. The cycle of Acquiring, deploying and retaining a
            solid resource team will always create a encouraging vibe in the
            organization. For organizations staffing is an process of hiring the
            employees by measuring their skills, knowledge and then offering
            them tailored roles accordingly.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h3 class="heading mt-2 mb-5">Our Strategy</h3>
        <div class="col-md-12">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Staff Augmentation
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <img
                        src="{% static 'images/staffing-img.jpeg' %}"
                        class="img-fluid mx-auto d-block align-middle"
                        style="margin-top: 30px"
                        alt="..."
                        width="300"
                        height="300"
                      />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                      <p
                        class="align-middle"
                        style="
                          text-indent: 15%;
                          font-size: 16px;
                          line-height: 20px;
                        "
                      >
                        <strong>SHREE HAASA </strong>

                        today is a well-established brand and is amongst the
                        prominent players in the IT staffing and services
                        business globally. We help companies of all sizes find
                        the right talent they need on a contract,
                        contract-to-hire, and permanent basis. We bridge the IT
                        talent demand-supply gap through an innovative,
                        best-in-class recruiting engine, backed by a dedicated
                        client-centric service focus. With various growth
                        options, SHREE HAASA aims to attract the best of talent
                        and boasts of lower than industry attrition standards.
                        Our strength to find the right talent from the market,
                        nurture with best of the training and processes, and our
                        flexible and optimized cost model gives us a unique
                        position in the IT staffing. With our presence in US and
                        India customer base of 50+, it is our constant endeavour
                        to be recognized as a “partner-of-choice” with our
                        proven round the clock recruiting model, extensive
                        resources, and client-focused approach and understanding
                        of our client’s business areas, we help enterprises to
                        overcome the constant struggle they face with retaining
                        and train the resources when and where they are needed.
                        Experience with solution building and customer-centric
                        approach is what every associate brings to the table
                        irrespective of the type of engagement.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Vendor Management Solution (VMS)
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <img
                        src="{% static 'images/staffing-SA.jpg' %}"
                        class="img-fluid mx-auto d-block align-middle"
                        style="margin-top: 5px"
                        alt="..."
                        width="300"
                        height="300"
                      />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                      <p
                        style="
                          text-indent: 15%;
                          font-size: 16px;
                          line-height: 20px;
                        "
                      >
                        <strong>Our VMS </strong>

                        program is designed for companies wanting to streamline
                        their staffing services and create efficiencies by
                        working with a single point of contact. Clients gain
                        full control of their external labour spend through a
                        consistent, measurable program that is customized to
                        meet their goals. Our staffing experts and leadership
                        team will identify the most impactful staffing partners
                        allowing our clients to focus on their core business.
                        Single point of communication impacting efficiencies and
                        streamlining processes Ability to staff all regional and
                        global locations Consistent, fully vetted screening
                        programs creating consistency across client facilities
                        Increased in fill ratios and speed of job placements
                        Regulatory compliance Create diversity spend visibility
                        throughout the organization Substantial cost savings
                        through vendor consolidation.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content%}
