{% extends 'main.html' %} {% load static %} {% block content %}
<html>
  <body>
    <div class="container-fluid p-0">
      <img
        src="{% static 'images/web-banner.png' %}"
        alt=""
        class="img-fluid"
      />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'images/web-img.png' %}" class="img-fluid" />
        </div>
        <div class="col-md-8 mt-5">
          <p>
            SHREE HAASA offers you a well-structured and beautifully designed
            website solution that helps you to meet your needs at affordable
            prices. Our professionals assist to provide the ideal web designing
            and development services. We are sun rays to your goals that ensure
            a new success! We design websites as per your business goals that
            help you to reach out to your potential customers and turn them into
            leads. Shree Haasa offers exclusively managed website services to
            keep your web updated. Our Web Design and Development services
            support you to figure out the ideal solution for your specific
            needs. Explore our rich and sharp professional support for
            Website-related services.
          </p>
          <div class="row">
            <h5 style="color: #000">Website Design and Development Services</h5>
            <div class="col-md-6">
              <ul>
                <li>Professional/Business Website</li>
                <li>E-commerce Website</li>
                <li>WordPress Website</li>
                <li>Non-profit Website</li>
                <li>Schooling Website</li>
                <li>Portal Website</li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul>
                <li>Search Engines</li>
                <li>Portfolio and Crowdfunding Website</li>
                <li>Frontend Website Development</li>
                <li>Content Management Support Services</li>
                <li>Interface UI/UX Design</li>
                <li>Tailored Digital Solutions</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
